@import url('https://fonts.googleapis.com/css?family=Nunito:400,400i,700|Roboto:400,700');
@import url('//rawgithub.com/Caged/d3-tip/master/examples/example-styles.css');

body {
    padding-top: 50px;
    font-family: 'Nunito', 'Arial', sans-serif;
    background-color: #f8f1ff;
}

#map {
    width: 1080px;
    height: auto;
    margin: auto;
    padding: 10px 0px;
    text-align: center;
    color: lighten(#000, 15%);
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 2px 2px 3px 2px lighten(#000, 45%);

    #description {
        margin: 0;
    }
}

#legend {
    width: 540px;
    height: auto;
    margin: 20px auto;
    padding: 5px 0;
    text-align: center;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 1px 1px 2px 1px lighten(#000, 35%);
}

#title, #legend-title {
    font-family: 'Roboto', 'Georgia', sans-serif;
}

#tooltip {
    text-align: center;
    color: lighten(#000, 10%);
    background-color: rgba(48, 255, 7, 0.8);
    border: 1px solid lighten(#000, 10%);

    #tooltip-date {
        font-size: 1.1em;
    }
}

.cell:hover {
    opacity: 0.5;
}

.tick {
    font-weight: bold;
}