@import url("https://fonts.googleapis.com/css?family=Nunito:400,400i,700|Roboto:400,700");
@import url("//rawgithub.com/Caged/d3-tip/master/examples/example-styles.css");
body {
  font-family: 'Nunito', 'Arial', sans-serif;
  background-color: #eee; }

#map {
  width: 1080px;
  height: auto;
  margin: auto;
  padding: 10px 0px;
  text-align: center;
  color: #262626;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 2px 2px 3px 2px #737373; }
  #map #description {
    margin: 0; }

#legend {
  width: 540px;
  height: auto;
  margin: 20px auto;
  padding: 5px 0;
  text-align: center;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 1px 1px 2px 1px #595959; }

#title, #legend-title {
  font-family: 'Roboto', 'Georgia', sans-serif; }

#tooltip {
  text-align: center;
  color: #1a1a1a;
  background-color: rgba(48, 255, 7, 0.8);
  border: 1px solid #1a1a1a; }
  #tooltip #tooltip-date {
    font-size: 1.1em; }

.cell:hover {
  opacity: 0.5; }
